$border-color: black;

.host {
  position: relative;
  width: 200px;
  cursor: pointer;
}

.selected {
  border: 1px solid $border-color;
  padding: 5px;
}

.items {
  position: absolute;
  border: 1px solid $border-color;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

.item {
  padding: 5px;
}
